<?xml version="1.0" encoding="utf-8"?>
<manifest package="sample.hawk.com.mybasicappcomponents"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- For ContenProvider to get contact data -->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- TextView will auto show the keyboard, if you want it hidden, you can set stateHidden -->
        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" />

        <activity android:name=".MyActivity">
        </activity>

        <activity android:name=".MyJavaActivity"/>

        <activity android:name=".animation.AnimationActivity"/>

        <activity android:name=".animation.move"/>

        <activity android:name=".view.MyListViewActivity"/>

        <activity android:name=".view.MyListView3DActivity"/>

        <activity android:name=".MyBlinkFeedActivity"/>

        <activity android:name=".background.HandlerThreadLooper">

        </activity>

        <service android:name=".background.MyLocalService">

        </service>

        <service android:name=".background.MyIntentService" >

        </service>

        <service android:name=".MyNotificationService" >

        </service>

        <service android:name=".background.MyJobSchedulerService"
                 android:permission="android.permission.BIND_JOB_SERVICE" >
        </service>

        <!-- Statically register MyReceiver  -->
        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="sample.hawk.com.mybasicappcomponents.broadcast1"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sample.hawk.com.mybasicappcomponents.broadcast2"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sample.hawk.com.mybasicappcomponents.alarmmanager"/>
            </intent-filter>
        </receiver>

        <provider
            android:authorities="sample.hawk.com.mybasicappcomponents.provider.Birthday"
            android:name=".MyContentProvider">

        </provider>
    </application>

</manifest>